{% extends 'app1/base.html' %}

{% block title%}Inicio{% endblock title %}

{% block content %} 
<html>
    <body style="background-color:#AAF6FF;">
        <center>
            <h1 class="display-3">Proyecto Algoritmos de Clasificacion</h1>
            <br><br><br>
            <p> Este sitio está diseñado para exponer el funcionamiento de diferentes algoritmos de clasificación utilizando datos de una base de datos creada aleatoriamente para poder clasificar. </p>
        
        </center>
    <p> Los algoritmos de clasificación se usan cuando el resultado deseado es una etiqueta discreta, en otras palabras, son útiles cuando la respuesta al problema cae dentro de un conjunto finito de resultados posibles.
            En el caso de que el modelo entrenado es para predecir cualquiera de las dos clases objetivos, verdadero o falso, por ejemplo, se le conoce como clasificación binaria. Algunos ejemplos de esto son: predecir si un alumno aprobará o no, predecir si un cliente comprará un producto nuevo o no.  
            Por su parte, si tenemos que predecir más de dos clases objetivos, se le conoce como clasificación multicategoría. Un ejemplo de esto es predecir qué asignaturas un alumno tendrá las más clasificaciones. Este tipo de clasificación es útil para la segmentación del cliente, la categorización de imágenes y audio y análisis de texto para optimizar el sentiento del cliente.
    </p>
    <p> Fuente: https://aprendeia.com/diferencia-entre-algoritmos-de-clasificacion-y-regresion/</p>
    </body>
</html>        
{% endblock %} 